.article {
    margin: 20px auto;
    padding: 20px;
    background-color: #b9def0;

    font-size: 20px;
}

.article > .content {
    margin: 20px;
    padding: 10px;
}

.reply {
    margin: 5px;
    padding: 10px;
    background-color: #d9edf7;
}

.img {
    margin: 10px;
    width: 100%;
    height: auto;
}