.article {
    margin: 20px auto;
    padding: 20px;
    background-color: #b9def0;

    font-size: 20px;
}

.article > .content {
    margin: 20px;
    padding: 10px;
}

.reply {
    margin: 5px;
    padding: 10px;
    background-color: #d9edf7;
}

.file-upload {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.img {
    margin: 10px;
    width: 100%;
    height: auto;
}

#show img {
    display: block;
    border: 2px solid black;
    width: 100%;
    height: auto;
}

.previewText {
    font-size: 20px;
}